{% extends "index.twig" %}

{% block body %}

	{% for gKey, group in app.data.aFilledGroups %}
	
		<legend>{{ group }}</legend>

		<table class="table table-striped">

			{% set switchCount = 0 %}
			{% for key, switch in app.data.switches|sort if switch.group == gKey %}
				{% set switchCount = switchCount +1 %}
			<tr>
				<td style="width: 70px;">
					<a onclick="switchIt (1, {{ key}}, 0, 0);" class="btn btn-success" style="float: left;">
						{{ app.i18n.labels.on }}
					</a>
				</td>
				<td>
					<span style="font-size: 14pt;">{{ switch.name }}</span>
				</td>
				<td style="width: 40px;">
					<a onclick="switchIt (0, {{ key}}, 0, 0);" class="btn btn-danger" style="float: right;">
						{{ app.i18n.labels.off }}
					</a>
				</td>
			</tr>
			{% endfor %}
			
			{% if switchCount > 1 %}
			<tr>
				<td style="width: 70px;">
					<a onclick="switchIt (1, 0, {{ gKey }}, 0);" class="btn btn-success" style="float: left;">
						{{ app.i18n.labels.on }}
					</a>
				</td>
				<td class="text-center">
					<span style="font-size: 14pt; font-style: italic;">{{ app.i18n.labels.all_group }}</span>
				</td>
				<td style="width: 40px;">
					<a onclick="switchIt (0, 0, {{ gKey }}, 0);" class="btn btn-danger" style="float: right;">
						{{ app.i18n.labels.off }}
					</a>
				</td>
			</tr>
			{% endif %}

		</table>

	{% endfor %}

	{% if app.data.aFilledGroups %}
		<legend>{{ app.i18n.labels.all }}</legend>

		<table class="table table-striped">
		<tr>
			<td style="width: 70px;">
				<a onclick="switchIt (1, 0, 0, 1);" class="btn btn-success" style="float: left;">
					{{ app.i18n.labels.on }}
				</a>
			</td>
			<td class="text-center">
				<span style="font-size: 14pt; font-style: italic;">{{ app.i18n.labels.all }}</span>
			</td>
			<td style="width: 40px;">
				<a onclick="switchIt (0, 0, 0, 1);" class="btn btn-danger" style="float: right;">
					{{ app.i18n.labels.off }}
				</a>
			</td>
		</tr>
		</table>
	{% endif %}

	<script language="JavaScript">
		function switchIt (switchOn, switchId, groupId, all)
		{
			switchOn = typeof switchOn !== 'undefined' ? switchOn : 0;
			switchId = typeof switchId !== 'undefined' ? switchId : 0;
			groupId  = typeof groupId  !== 'undefined' ? groupId  : 0;
			all      = typeof all      !== 'undefined' ? all      : 0;

			$.ajax({
				url: "{{ path('switch-it') }}",
				type: "post",
				data: "&switchOn="+switchOn+"&switchId="+switchId+"&groupId="+groupId+"&all="+all,
				success: function(){},
				error:function(){}   
			}); 
		}
	</script>

{% endblock %}