{% extends "index.twig" %}

{% block body %}

	<form method="POST" action="{{ path('settings-save') }}" enctype="multipart/form-data">

		<legend>{{ app.i18n.nav.settings }}</legend>

		<table class="table table-striped">
		<tr>
			<td style="width: 90px;">
				<label for="locale">{{ app.i18n.labels.language }}</label>
			</td>
			<td>
				<select name="locale" id="locale" class="form-control">
					{% for key, language in aLangFiles %}
					<option value="{{ key }}"{% if key == app.data.options.locale %} selected{% endif %}>{{ language }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td style="width: 90px;">
				<label for="server">{{ app.i18n.labels.server }}</label>
			</td>
			<td>
				<input type="text" id="server" name="server" value="{{ app.data.options.server }}" class="form-control">
			</td>
		</tr>
		<tr>
			<td style="width: 90px;">
				<label for="port">{{ app.i18n.labels.port }}</label>
			</td>
			<td>
				<input type="number" id="port" name="port" value="{{ app.data.options.port }}" class="form-control">
			</td>
		</tr>
		<tr>
			<td style="width: 90px;">
				<label for="delay">{{ app.i18n.labels.delay }}</label>
			</td>
			<td>
				<input type="number" id="delay" name="delay" value="{{ app.data.options.delay }}" class="form-control">
			</td>
		</tr>
		<tr>
			<td style="width: 90px;">
				<label for="file">
					{{ app.i18n.labels.settings_upload }}
				</label>
			</td>
			<td>
				<input type="file" id="file" name="file" value="hochladen" class="form-control">
			</td>
		</tr>
		<tr>
			<td style="width: 90px;">
				<label>
					{{ app.i18n.labels.settings_download }}
				</label>
			</td>
			<td>
				<a href="{{ path('settings-export') }}" class="btn btn-success">
					Herunterladen
				</a>
			</td>
		</tr>
		</table>

		
		<input type="submit" name="send" value="{{ app.i18n.labels.save }}" class="btn btn-primary" style="float: left; margin-left: 10px;">

		<a href="{{ path('groups') }}" target="_new" class="btn btn-danger" style="float: right; margin-right: 10px;">
			{{ app.i18n.labels.back }}
		</a>

	</form>
	
{% endblock %}