{% extends "index.twig" %}

{% block body %}

	<form method="POST" action="{{ path('settings-save') }}">
	
		<div style="text-align: center;">
			<h4>{{ app.i18n.labels.servertime }}</h4>
			<span type="button" class="btn btn-primary btn-large" disabled="disabled"><span id="Uhrzeit"></span> Uhr</span>
		</div>
	
		<legend>{{ app.i18n.titles.cronjobs }}</legend>		
		
		<input type="submit" name="send" value="{{ app.i18n.labels.save }}" class="btn btn-primary" style="float: left; margin-left: 10px;">

		<a href="{{ path('groups') }}" class="btn btn-danger" style="float: right; margin-right: 10px;">
			{{ app.i18n.labels.back }}
		</a>

	</form>
	
	<script language="JavaScript">
	<!--
	var Serverzeit = new Date({{ time }});
	
	$(function() {
		UhrzeitAnzeigen();
	});
	

	function UhrzeitAnzeigen()
	{
		if(!document.all && !document.getElementById)
		{
			return;
		}

		var Stunden = Serverzeit.getHours();
		var Minuten = Serverzeit.getMinutes();
		var Sekunden = Serverzeit.getSeconds();
		Serverzeit.setSeconds(Sekunden+1);

		if(Stunden <= 9)
		{
			Stunden = "0" + Stunden;
		}

		if(Minuten <= 9)
		{
			Minuten = "0" + Minuten;
		}

		if(Sekunden <= 9)
		{
			Sekunden = "0" + Sekunden;
		}

		Uhrzeitanzeige = Stunden + ":" + Minuten + ":" + Sekunden;

		if(document.getElementById)
		{
			document.getElementById("Uhrzeit").innerHTML = Uhrzeitanzeige
		}
		else if(document.all)
		{
			Uhrzeit.innerHTML = Uhrzeitanzeige;
		}

		setTimeout("UhrzeitAnzeigen()", 1000);
	}
	//-->
	</script>
	
{% endblock %}