{% extends "index.twig" %}

{% block body %}

<legend>Schalter</legend>

	<table class="table table-striped">
	<tr>
		<td style="width: 70px;">
			<label for="name">Name</label>
		</td>
		<td>
			<input type="text" name="name" value="Stehlampe" id="name" />
		</td>
	</tr>
	
	<tr>
		<td style="width: 70px;">
			<label for="group">Group</label>
		</td>
		<td>
			<select name="group" id="group">
				<option value="1">Wohnzimmer</option>
				<option value="2">Balkon</option>
			</select>
		</td>
	</tr>
	</table>

	
<legend>{{ app.i18n.labels.dip }}</legend>

	<table class="table table-striped">
	
	<!-- New/Edit -->
	{% set aAlpha = {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'} %}
	{% for i in 1..5 %}
	<tr>
		<td>
			<div class="switch" data-on="success" data-on-label="{{ i }}" data-off="danger" data-off-label="{{ i }}">
				<input type="checkbox" name="check_{{ i }}" checked />
			</div>
		</td>
		<td style="width: 40px;"></td>
		<td>
			<div class="switch" data-on="success" data-on-label="{{ attribute(aAlpha, i) }}" data-off="danger" data-off-label="{{ attribute(aAlpha, i) }}">
				<input type="checkbox" />
			</div>
		</td>
	</tr>
	{% endfor %}
	<!-- /New/Edit -->
	</table>
	
	<a href="{{ path('edit-switch', {'id': 1}) }}">
	
	<input type="submit name="send" value="Speichern" class="btn btn-primary" style="float: left;">

	<a href="{{ path('switches') }}" class="btn btn-danger" style="float: right;">
		Zur&uuml;ck
	</a>

{% endblock %}