{% extends "index.twig" %}

{% block body %}

<legend>{{ app.i18n.labels.groups }}</legend>

	<table class="table table-striped">
	<!-- Edit -->
	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-primary text-right" style="float: right;">
				<span class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>{{ app.i18n.labels.edit }}
			</button>
		</td>
		<td>
			<span style="font-size: 14pt;">Wohnzimmer</span>
		</td>
		<td style="width: 70px;">
			<button type="button" class="btn btn-danger text-right" style="float: right;">
				<span class="glyphicon glyphicon-remove-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.delete }}
			</button>
		</td>
	</tr>
	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-primary text-right" style="float: right;">
				<span class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>{{ app.i18n.labels.edit }}
			</button>
		</td>
		<td>
			<span style="font-size: 14pt;">Balkon</span>
		</td>
		<td style="width: 70px;">
			<button type="button" class="btn btn-danger text-right" style="float: right;">
				<span class="glyphicon glyphicon-remove-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.delete }}
			</button>
		</td>
	</tr>
	<!-- /Edit -->

	<!-- Add -->
	<tr>
		<td colspan="3">
			<button type="button" class="btn btn-primary text-right" style="float: right;">
				<span class="glyphicon glyphicon-plus-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.add }}
			</button>
		</td>
	</tr>
	<!-- /Add -->
	</table>
	
{% endblock %}