{% extends "index.twig" %}

{% block body %}

<legend>Wohnzimmer</legend>

	<table class="table table-striped">
	<!-- Switch All -->
	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-success" style="float: left;">{{ app.i18n.labels.on }}</button>
		</td>
		<td>
			<span style="font-size: 14pt; font-style: italic;">{{ app.i18n.labels.all }}</span>
		</td>
		<td style="width: 40px;">
			<button type="button" class="btn btn-danger" style="float: right;">{{ app.i18n.labels.off }}</button>
		</td>
	</tr>
	<!-- /Switch All -->

	<!-- View -->
	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-success" style="float: left;">{{ app.i18n.labels.on }}</button>
		</td>
		<td>
			<span style="font-size: 14pt;">Stehlampe</span>
		</td>
		<td style="width: 40px;">
			<button type="button" class="btn btn-danger" style="float: right;">{{ app.i18n.labels.off }}</button>
		</td>
	</tr>

	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-success" style="float: left;">{{ app.i18n.labels.on }}</button>
		</td>
		<td>
			<span style="font-size: 14pt;">Stehlampe 2</span>
		</td>
		<td style="width: 40px;">
			<button type="button" class="btn btn-danger" style="float: right;">{{ app.i18n.labels.off }}</button>
		</td>
	</tr>
	<!-- /View -->
	</table>

<legend>Balkon</legend>

	<table class="table table-striped">

	<!-- View -->
	<tr>
		<td style="width: 70px;">
			<button type="button" class="btn btn-success" style="float: left;">{{ app.i18n.labels.on }}</button>
		</td>
		<td>
			<span style="font-size: 14pt;">Brunnen</span>
		</td>
		<td style="width: 40px;">
			<button type="button" class="btn btn-danger" style="float: right;">{{ app.i18n.labels.off }}</button>
		</td>
	</tr>
	<!-- /View -->
	</table>

{% endblock %}