{% extends "index.twig" %}

{% block body %}

	{% for gKey, group in app.data.groups %}

		<legend>{{ group }}</legend>

		<table class="table table-striped">

			{% for key, switch in app.data.switches|sort if switch.group == gKey %}
			
			<tr>
				<td style="width: 70px;">
					<a href="{{ path('edit-switch', {'id': key}) }}" class="btn btn-primary text-right" style="float: right;">
						<span class="glyphicon glyphicon-pencil" style="margin-right: 10px;"></span>{{ app.i18n.labels.edit }}
					</a>
				</td>
				<td>
					<span style="font-size: 14pt;">{{ switch.name }}</span>
				</td>
				<td style="width: 70px;">
				
					<a onclick="alert('Delete switch #{{ key }}')" class="btn btn-danger text-right" style="float: right;">
						<span class="glyphicon glyphicon-remove-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.delete }}
					</a>
				</td>
			</tr>

			{% endfor %}
			
		<!-- Add -->
		<tr>
			<td colspan="3">
				<a href="{{ path('new-switch') }}">
					<button type="button" class="btn btn-primary text-right" style="float: right;">
						<span class="glyphicon glyphicon-plus-sign" style="margin-right: 10px;"></span>{{ app.i18n.labels.add }}
					</button>
				</a>
			</td>
		</tr>
		<!-- /Add -->
		
		</table>
		
	{% endfor %}
	
	
	

{% endblock %}