{% extends "index.twig" %}

{% block body %}

	{% if id == 0 %}
		{% set cronjob = {"name": "", "time": 720, "days": "0000000", "switches": {}} %}
	{% else %}
		{% set cronjob = app.data.cronjobs[id] %}
	{% endif %}

	<form method="POST" action="{{ path('cron-save') }}" class="form-inline">
		<input type="hidden" name="id" value="{{ id }}" />

		<legend>{% if id == 0 %} {{ app.i18n.titles.add_cronjob }} {% else %} {{ app.i18n.titles.edit_cronjob }} {% endif %} </legend>

		<table class="table table-striped">
		<tr>
			<td style="width: 70px;">
				<label for="name">{{ app.i18n.labels.name }}</label>
			</td>
			<td>
				<input type="text" name="name" value="{{ cronjob.name }}" id="name" class="form-control" autocomplete="off" />
			</td>
		</tr>
		<tr>
			<td style="width: 70px;">
				<label for="time">{{ app.i18n.labels.time }}</label>
			</td>
			<td>
				<input type="number" min="0" max="23" name="time_hour" value="12" id="name" class="form-control" autocomplete="off" style="width: 90px;" />:
				<input type="number" min="0" max="59" name="time_minute" value="00" id="name" class="form-control" autocomplete="off" style="width: 90px;" />
			</td>
		</tr>
		</table>


		<legend>{{ app.i18n.labels.weekdays }}</legend>

		<table class="table table-striped">
		
		<!-- New/Edit -->
		
		{% for key, i in app.i18n.days %}
		<tr>
			<td>
				<div class="switch" data-on="success" data-on-label="{{ i }}" data-off="danger" data-off-label="{{ i }}">
					<input type="checkbox" name="day_{{ key }}" />
				</div>
			</td>
		</tr>
		{% endfor %}
		<!-- /New/Edit -->
		</table>
		
		<input type="submit" name="send" value="{{ app.i18n.labels.save }}" class="btn btn-primary" style="float: left; margin-left: 10px;">

		<a href="{{ path('cron') }}" class="btn btn-danger" style="float: right; margin-right: 10px;">
			{{ app.i18n.labels.back }}
		</a>

	</form>

{% endblock %}